<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <!-- <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">
  <link rel="stylesheet" href="/css/cards.css">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Allerta+Stencil' rel='stylesheet' type='text/css'>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body id="body_<%= @deck_id %>">

<nav class="navbar navbar-inverse navbar-fixed-top " role="navigation">
  <div class="container">
    <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-flash"> </span>Flash Cards</a>
    <ul class="nav navbar-nav navbar-right">
    <% if session[:user_id] %>
      <li><span>Hello, <%= session[:name] %></span></li>
      <% #@user_score = User.find(session[:user_id]).score %>
      <li><span>Score: <%= @user_score %></span></li>
      <li><form method="get" action="/show_all_results">
        <input type="submit" value="Show all Results" class="nav_btn"></form></li>
      <li><form method="post" action="/logout">
        <input type="submit" value="Logout?" class="nav_btn">
      </form></li>

      <% else %>

        <li><a href="/login" title="login">Login</a></li>

    <% end %>
    </ul>
  </div>
</nav>

<% if @deck_id == "2" %>
  <h1 id="chuck_h1" class="center">Chuck Norris</h1>
 <!--  <h2 id="chuck_h2" class="center">The flash card game</h2> -->
<% end %>

<section class="card_container">
  <div class="inner-card">
    <div id="card">
      <figure class="front"><h3>Question:</h3><%= @question %></figure>
      <figure class="back"><h3>Answer:</h3><%= @answer %></figure>
    </div>
  </div>
</section>

<form action="/answer" method="post" id="answer_box">
  <input type="hidden" name="card_id" value="<%= @id %>">
  <input type="textbox" name="answer" placeholder="<% if @deck_id != "2" %>What's your answer?<% else %>Don't piss off Chuck<% end %>">
  <input type="submit" value="<% if @deck_id != "2" %>Submit Answer<% else %>Get Justice'd<% end %>" class="orange_btn">
</form>

<form action="/go_to_deck/<%= @deck_id %>" id="next_question" class="hidden">
  <input type="submit" value="Next Question" class="orange_btn">
</form>

<% #@round_score = Round.find(session[:round_id]).score %>

<p class="center" id="score"><span id="score_span">&nbsp;</span></p>
<p class="center <% if @deck_id == "2" %>hidden<% end %>" id="counter"> Questions Remaining: <span id="counter"><%= @questions_remaining %></span></p>



<form class="center" method="post" action="/decks_display/<%= @round_score %>" id="end_game">
  <input type="submit" value="<% if @deck_id != "2" %>End Game<% else %>Game Over<% end %>" class="orange_btn">
</form>


</body>
</html>
