<div class="container">
  <% unless session[:round_id]==nil %>
    <h1>Congrats, <%= session[:name].capitalize %>!</h1>

    <ul>
        <li class="list-group-item list-group-item-info">Score:</li>
        <li class="list-group-item">You answered <%= @num_correct %> out of <%= @total_questions %> correctly.</li>
        <li class="list-group-item">That's <%= @percentage %>% correct! </li>
        <li class="list-group-item">Here are all of your scores for the <%= @deck.name %> deck: </li>
    <li class="list-group-item">
        <% @all_rounds.each do |round| %>
        - On <%=round.updated_at %> your score was: <%= round.score %>% <br>
        <% end %>
    </li>
    </ul>

    <% session[:round_id] = nil%>
  <% end %>
<br>
  <form method="get" action="/decks_display">
    <input type="submit" value="Play Again?" class="orange_btn">
  </form>

</div>
